<div
  data-layer="Hero Section"
  class="HeroSection w-full section-bg bg-[url('/hero-bg.webp')] bg-blend-overlay bg-black/20 min-h-screen px-4 md:px-8 flex justify-center items-center overflow-hidden"
>
  <div
    data-layer="Main container"
    class="MainContainer container-inner w-full max-w-8xl p-6 md:p-12 xl:p-20 bg-black/40 backdrop-blur-[12px] flex flex-col justify-center items-center gap-12 md:gap-16"
  >
    <div
      data-layer="main"
      class="Main self-stretch flex flex-col md:flex-row justify-between items-center gap-8 md:gap-12 lg:gap-20 xl:gap-32 md:px-4 lg:px-12 xl:px-24 content-gap-xl"
    >
      <div
        data-layer="title"
        class="Title flex-1 inline-flex flex-col justify-center items-start gap-8"
      >
        <div
          data-layer="Frame 5"
          class="Frame5 self-stretch flex flex-col justify-start items-start gap-5"
        >
          <div
            data-layer="Frame 4"
            class="Frame4 flex flex-col justify-start items-start"
          >
            <div
              data-layer="Sviatoslav Cherenov"
              class="SviatoslavCherenov justify-start text-white text-4xl md:text-5xl font-normal font-['Inter']"
            >
              Sviatoslav Cherenov
            </div>
            <div
              data-layer="Systems architect"
              class="SystemsArchitect justify-start text-[#FDFE00] text-body-lg font-normal font-['Inter'] mt-1"
            >
              Systems architect
            </div>
          </div>
          <div
            data-layer="Від ідеї до робочого прототипу..."
            class="LowLevel self-stretch justify-start text-white/40 text-body-lg font-normal font-['Inter'] max-w-xl"
          >
            Від ідеї до робочого прототипу: проектую залізо, пишу low-level код
            та створюю кросплатформенні інтерфейси
          </div>
        </div>

        <!-- КНОПКА С ЯКОРЕМ -->
        <a
          href="#projects"
          data-layer="Button"
          class="Button px-6 py-2.5 bg-[#FDFE00] inline-flex justify-center items-center overflow-hidden cursor-pointer hover:bg-[#FDFE00]/80 hover:scale-105 active:scale-95 transition-all duration-300 ease-out text-black text-body-lg font-normal font-['Inter'] rounded-sm select-none"
        >
          Мої проєкти
        </a>
      </div>

      <img
        data-layer="IMG_20260704_004557_984 1"
        class="Img202607040045579841 w-full max-w-[14rem] lg:max-w-[18rem] aspect-9/18 object-cover object-top rounded-lg section-fluid-img shrink-0"
        src=".//portrait.webp"
        alt="Sviatoslav Cherenov"
      />
    </div>

    <div
      data-layer="Skills"
      class="Skills self-stretch flex flex-col justify-center items-start gap-6"
    >
      <div
        data-layer="Row 1"
        class="Row1 self-stretch flex flex-wrap justify-center md:justify-start xl:justify-between items-center gap-2 xl:gap-0 overflow-hidden"
      >
        <div
          class="px-3 py-1 bg-[#FDFE00]/20 rounded-lg text-[#FDFE00] text-md font-['Inter']"
        >
          Embedded
        </div>
        <div
          class="px-3 py-1 bg-[#FDFE00]/20 rounded-lg text-[#FDFE00] text-md font-['Inter']"
        >
          Mobile, Desktop, Web apps
        </div>
        <div
          class="px-3 py-1 bg-[#FDFE00]/20 rounded-lg text-[#FDFE00] text-md font-['Inter']"
        >
          Electronics
        </div>
        <div
          class="px-3 py-1 bg-[#FDFE00]/20 rounded-lg text-[#FDFE00] text-md font-['Inter']"
        >
          Automations, Scripts, web-scraping & parsing
        </div>
        <div
          class="px-3 py-1 bg-[#FDFE00]/20 rounded-lg text-[#FDFE00] text-md font-['Inter']"
        >
          Telegram bots
        </div>
        <div
          class="px-3 py-1 bg-[#FDFE00]/20 rounded-lg text-[#FDFE00] text-md font-['Inter']"
        >
          CAD-modeling
        </div>
        <div
          class="px-3 py-1 bg-[#FDFE00]/20 rounded-lg text-[#FDFE00] text-md font-['Inter']"
        >
          Soldering
        </div>
        <div
          class="px-3 py-1 bg-[#FDFE00]/20 rounded-lg text-[#FDFE00] text-md font-['Inter']"
        >
          UI | UX design
        </div>
      </div>

      <div
        data-layer="Row 2"
        class="Row2 self-stretch flex flex-wrap justify-center md:justify-start xl:justify-between items-center gap-x-5 gap-y-2 text-white/40 text-md font-['Inter']"
      >
        <div>C/C++</div>
        <div>ESP-IDF</div>
        <div>Python</div>
        <div>Make.com</div>
        <div>Zapier</div>
        <div>Flutter</div>
        <div>OnShape</div>
        <div>Fusion 360</div>
        <div>Wordpress</div>
        <div>Elementor</div>
        <div>Hostinger</div>
        <div>Blender</div>
        <div>Figma</div>
        <div>Supabase</div>
        <div>Firebase</div>
      </div>
    </div>
  </div>
</div>
